<!--Nadvar-->
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="./assets/img/logos/truloov logo 1.png"
          alt=""
          style="height: 4rem"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-4 d-flex justify-content-end">
        <li class="nav-item link ms-3">
          <a
            class="nav-link fs-5"
            href="#atributos"
            id=""
            role="button"
            data-bs-toggle="link"
            aria-expanded="false"
          >
            Atributos
          </a>
        </li>
        <li class="nav-item link ms-3">
          <a
            class="nav-link fs-5"
            href="#referencias"
            id=""
            role="button"
            data-bs-toggle="link"
            aria-expanded="false"
          >
            Referencias
          </a>
        </li>
        <li class="nav-item link ms-3">
          <a
            class="nav-link fs-5"
            href="#contacto"
            id=""
            role="button"
            data-bs-toggle="link"
            aria-expanded="false"
          >
            Contacto
          </a>
        </li>
        <!--ventana Emergente-->
        <li class="nav-item ms-3" style="width: 10rem">
          <div class="btn btn-primary fs-5">
            <label for="btn-modal"> Iniciar sesión </label>
          </div>
          <input type="checkbox" id="btn-modal" />
          <div class="container-modal">
            <div class="content-modal">
              <h2>Inicio Sesion</h2>
              <div class="mb-3 letra">
                <label for="exampleInputUsuario" class="form-label"
                  >Correo Electronico</label
                >
                <input
                  type="usuario"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Ingresa tu usuario"
                  required="required"
                />
              </div>
              <div class="mb-3 letra">
                <label for="exampleInputpassword" class="form-label"
                  >Contraseña</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputUsuario"
                  placeholder="Ingresa tu Contraseña"
                  required="required"
                />
              </div>

              <div class="btn-cerrar">
                <label for="btn-modal">Cerrar</label>
              </div>
            </div>
            <label for="btn-modal" class="cerrar-modal"></label>
          </div>
        </li>
      </ul>
    </div>
  </nav>


<!--Tarjetas-->
    <div class="contenedor">
      <div class="card">
        <div class="card-encabezado">
          <img src="../../../assets/img/chicas 11.webp" alt="" />
        </div>
        <div class="card-iconos">
          <li class="agrandar">
            <a href="#"><span class="aceptar"></span></a>
          </li>
          <li class="agrandar">
            <a href="#"><span class="negar"></span></a>
          </li>
        </div>
        <div class="card-container">
          <div class="info-personal desplazar">jose</div>
          <div class="info-personal desplazar">bogota</div>
          <div class="info-personal desplazar">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusantium vel repellat vero quod cupiditate facilis iste nihil
              maxime in sint impedit, ut saepe repellendus praesentium?
              Distinctio magnam natus doloribus illum.
            </p>
          </div>
          <div class="card-acciones">
            <button class="botones agrandar">
                <span class="fas fa-envelope"></span>
                Contactar
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="contenedor">
        <div class="card">
          <div class="card-encabezado">
            <img src="../../../assets/img/chicas...webp" alt="" />
          </div>
          <div class="card-iconos">
            <li class="agrandar">
              <a href="#"><span class="aceptar"></span></a>
            </li>
            <li class="agrandar">
              <a href="#"><span class="negar"></span></a>
            </li>
          </div>
          <div class="card-container">
            <div class="info-personal desplazar">jose</div>
            <div class="info-personal desplazar">bogota</div>
            <div class="info-personal desplazar">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusantium vel repellat vero quod cupiditate facilis iste nihil
                maxime in sint impedit, ut saepe repellendus praesentium?
                Distinctio magnam natus doloribus illum.
              </p>
            </div>
            <div class="card-acciones">
              <button class="botones agrandar">
                  <span class="fas fa-envelope"></span>
                  Contactar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="contenedor">
        <div class="card">
          <div class="card-encabezado">
            <img src="../../../assets/img/chicos...webp" alt="" />
          </div>
          <div class="card-iconos">
            <li class="agrandar">
              <a href="#"><span class="aceptar"></span></a>
            </li>
            <li class="agrandar">
              <a href="#"><span class="negar"></span></a>
            </li>
          </div>
          <div class="card-container">
            <div class="info-personal desplazar">jose</div>
            <div class="info-personal desplazar">bogota</div>
            <div class="info-personal desplazar">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusantium vel repellat vero quod cupiditate facilis iste nihil
                maxime in sint impedit, ut saepe repellendus praesentium?
                Distinctio magnam natus doloribus illum.
              </p>
            </div>
            <div class="card-acciones">
              <button class="botones agrandar">
                  <span class="fas fa-envelope"></span>
                  Contactar
              </button>
            </div>
          </div>
        </div>
      </div>










     <!-- footer -->
  <footer id="contacto" class="bg-secondary pt-5">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="redes c2 d-flex m-4 w-75 flex-wrap justify-content-between">
        <div class="w-100">
          <h1>
            <img
              src="assets/img/logos/truloov logo 1.png"
              alt=""
              style="width: 20vw"
              class="d-none d-md-block"
            />
            <img
              src="assets/img/Truloov anillos blanco sin fondo.png   "
              alt=""
              style="width: 20vw"
              class="d-none d-sm-block d-md-none"
            />
            <img
              src="assets/img/Truloov anillos blanco sin fondo.png   "
              alt=""
              style="width: 20vw"
              class="d-block d-sm-none"
            />
          </h1>
        </div>
        <div class="mb-4 ms-2" style="width: 15rem">
          <h4>LEGAL</h4>
          <a href="#" class="text-decoration-none fs-5 nav-link"
            >Privacidad</a
          >
          <a href="#" class="text-decoration-none fs-5 nav-link">Terminos</a>
          <a href="#" class="text-decoration-none fs-5 nav-link"
            >Políticas de seguridad</a
          >
          <a href="#" class="text-decoration-none fs-5 nav-link">Cookies</a>
          <a href="#" class="text-decoration-none fs-5 nav-link"
            >Propiedad intelectial</a
          >
        </div>
        <div class="mb-4" style="width: 15rem">
          <h4>TRABAJA CON NOSOTROS</h4>
          <a href="#" class="text-decoration-none fs-5 nav-link"
            >Portal de empleo</a
          >
          <a href="#" class="text-decoration-none fs-5 nav-link">Blog </a>
        </div>

        <div class="mb-4" style="width: 15rem">
          <a href="#" class="text-decoration-none fs-5 nav-link">
            <h4>CANALES</h4>
          </a>
          <a href="#" class="text-decoration-none fs-5 nav-link"
            >Sala de prensa</a
          >
          <a href="#" class="text-decoration-none fs-5 nav-link">PQRS</a>
          <a href="#" class="text-decoration-none fs-5 nav-link">Contacto</a>
        </div>
      </div>
    </div>
    <div class="text-center text-white">
      <!-- Grid container -->
      <div class="container p-2 pb-0">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook <a href="https://www.flaticon.es/iconos-gratis/facebook" title="facebook iconos">Facebook iconos creados por Pixel perfect - Flaticon</a>-->
          <a
            class="btn btn-floating m-1"
            href="https://m.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjUzMjczNDMzLCJjYWxsc2l0ZV9pZCI6Nzk2MTcwNzM0NTY5ODY0fQ%3D%3D&refid=9"
            role="button"
          >
            <img src="./assets/img/facebook.png" alt="" style="width: 2rem" />
          </a>

          <!-- Twitter <a href="https://www.flaticon.es/iconos-gratis/social" title="social iconos">Social iconos creados por riajulislam - Flaticon</a>-->
          <a
            class="btn btn-floating m-1"
            href="https://twitter.com/i/flow/login"
            role="button"
            ><img src="./assets/img/twitter.png" alt="" style="width: 2rem"
          /></a>

          <!-- Instagram <a href="https://www.flaticon.es/iconos-gratis/instagram" title="instagram iconos">Instagram iconos creados por Pixel perfect - Flaticon</a>-->
          <a
            class="btn btn-floating m-1"
            href="https://www.instagram.com/?hl=es-la"
            role="button"
            ><img src="./assets/img/instagram.png" alt="" style="width: 2rem"
          /></a>

          <!-- Linkedin  <a href="https://www.flaticon.es/iconos-gratis/linkedin" title="linkedin iconos">Linkedin iconos creados por riajulislam - Flaticon</a>-->
          <a
            class="btn btn-floating m-1"
            href="https://co.linkedin.com/"
            role="button"
            ><img src="./assets/img/linkedin.png" alt="" style="width: 2rem"
          /></a>
        </section>
      </div>
    </div>
    <div class="text-center p-2">
      <p>&copy; Todos los derechos reservados :: TrueLoov &trade; :: 2022</p>
    </div>
  </footer>
