<!--Nadvar-->



<!--Tarjetas-->
    <div class="contenedor">
      <div class="card">
        <div class="card-encabezado">
          <img src="../../../assets/img/chicas 11.webp" alt="" />
        </div>
        <div class="card-iconos">
          <li class="agrandar">
            <a href="#"><span class="aceptar"></span></a>
          </li>
          <li class="agrandar">
            <a href="#"><span class="negar"></span></a>
          </li>
        </div>
        <div class="card-container">
          <div class="info-personal desplazar">jose</div>
          <div class="info-personal desplazar">bogota</div>
          <div class="info-personal desplazar">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusantium vel repellat vero quod cupiditate facilis iste nihil
              maxime in sint impedit, ut saepe repellendus praesentium?
              Distinctio magnam natus doloribus illum.
            </p>
          </div>
          <div class="card-acciones">
            <button class="botones agrandar">
                <span class="fas fa-envelope"></span>
                Contactar
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="contenedor">
        <div class="card">
          <div class="card-encabezado">
            <img src="../../../assets/img/chicas...webp" alt="" />
          </div>
          <div class="card-iconos">
            <li class="agrandar">
              <a href="#"><span class="aceptar"></span></a>
            </li>
            <li class="agrandar">
              <a href="#"><span class="negar"></span></a>
            </li>
          </div>
          <div class="card-container">
            <div class="info-personal desplazar">jose</div>
            <div class="info-personal desplazar">bogota</div>
            <div class="info-personal desplazar">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusantium vel repellat vero quod cupiditate facilis iste nihil
                maxime in sint impedit, ut saepe repellendus praesentium?
                Distinctio magnam natus doloribus illum.
              </p>
            </div>
            <div class="card-acciones">
              <button class="botones agrandar">
                  <span class="fas fa-envelope"></span>
                  Contactar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="contenedor">
        <div class="card">
          <div class="card-encabezado">
            <img src="../../../assets/img/chicos...webp" alt="" />
          </div>
          <div class="card-iconos">
            <li class="agrandar">
              <a href="#"><span class="aceptar"></span></a>
            </li>
            <li class="agrandar">
              <a href="#"><span class="negar"></span></a>
            </li>
          </div>
          <div class="card-container">
            <div class="info-personal desplazar">jose</div>
            <div class="info-personal desplazar">bogota</div>
            <div class="info-personal desplazar">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusantium vel repellat vero quod cupiditate facilis iste nihil
                maxime in sint impedit, ut saepe repellendus praesentium?
                Distinctio magnam natus doloribus illum.
              </p>
            </div>
            <div class="card-acciones">
              <button class="botones agrandar">
                  <span class="fas fa-envelope"></span>
                  Contactar
              </button>
            </div>
          </div>
        </div>
      </div>











