    
    
    <main class="container">
      <section id="text-container" class="container-fluid mb-5 mt-5 ">
        <h1 id="textTitle" class="text-center mb-5 fw-bold">¿No sabes cómo iniciar una conversación en linea?</h1>
        <p class="text-justify">
          ¡Hola! De parte del grupo de Truloov nos complace saludarte y
          aprovechamos para agradecer la oportunidad que nos brindas de buscar
          juntos la persona que podría ser tu próximo gran amor.
          <br><br>
          Primero que
          todo, es importante entender que la interacción en línea es muy
          diferente a la interacción física, esta primera se basa en un flujo de
          información intermediaria por aparatos inteligentes que nos permiten
          un mayor tiempo de interpretación y respuesta, así que si no se te
          ocurre qué responder en ese momento tomate unos minutos para pensar y
          cuando estés listo redacta el mensaje. Además, cuando conversars en
          línea cuentas con la opción de compartir contenido en diferentes
          formatos como imagenes, videos, gifts entre otros que pueden amenar la
          conversación, romper el hielo o expresar ideas abstractas que pueden
          ser dificiles de aterrizar en palabras.
          <br><br>
          Una vez entendido los
          beneficios de la interacción digital, es importante entrar en
          confianza cuando consigas tu primer match. Si bien es normal sentir
          excitación y nervios, recuerda que el algoritmo de Truloov está
          diseñado para acercar perfiles con gustos similares, por lo que en el
          otro extremo hay una persona parecida a ti que también quiere
          conocerte, ¡anímate y da el primer paso!
          <br><br>
          Sin embargo, desde Truloove creemos que
          las relaciones interpersonales se nutren principalmente de tiempo de
          calidad compartido en físico, por lo que impulsamos a nuestros
          usuarios a que no se queden en la comodidad de la interacción digital
          y busquen traslandar la conversación a espacios físicos de interés
          mutuo. Por ello, cuando llegue el momento de dar el siguiente paso y
          conocer cara a cara a tu match, asegurate de vestir tus mejores
          prendas y llenate de confianza, esta es una bonita oportunidad de
          conocerse más a fondo y decidir si hay interés en fortalecer el
          vínculo o, por el contrario, lo mejor es separar caminos.
          <br><br>
          Si
          lastimosamente no funcionó la relación con ese match ¡no te
          desanimes!, nada es sencillo en cuestiones del amor. Cuando estés
          listo, te esperamos nuevamente en nuestra aplicación para buscar otro
          potencial candidato, estamos seguros que la persona indicada está solo
          a un match de distancia.
        </p>

      </section>

      <section class="container-fluid row align-item-center mb-5">
        <img id="ayudaUsuarioImg" class="img-fluid align-item-center" src="../../../assets/img/Experiencia Truloov.png" alt="">
      </section>
    </main>