.btn {
    background:  #824ccf;
}


.fondo {
  background: url(../../../assets/img/R.jpg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.caja {
  width: 18rem;
  margin: 15rem;
  margin-top: 10rem;
  box-shadow: 0 0 4rem 0 black;
}

.slider {
  width: 200%;
  margin-left: -25%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9e9e9e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0cca38;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0cca38;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

 /*ventana emergente*/
     
      .boton-modal {
        padding: 40px;
        background-color: white;
        display: flex;
        justify-content: end;
        align-items: flex-start;
      }
      
    
      
      .boton-modal label:hover {
        background-color: #185e83;
      }
      
      #btn2-modal {
        display: none;
      }
      
      .container-modal {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(144, 148, 150, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
      }
      
      #btn2-modal:checked ~ .container-modal {
        display: flex;
      }
      
      .content-modal {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 4rem 0 black;
      }
      
      .content-modal h2 {
        margin-bottom: 3rem;
        justify-content: center;
        display: flex;
        color: black;
      }
    
    
      
      .content-modal .btn-cerrar {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        justify-content:center;
      }
      
      .content-modal .btn-cerrar label {
        padding: 7px 10px;
        background-color: #824ccf;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 300ms ease;
        
      }
    
      .letra {
          color: black;
      }
      
      .content-modal .btn-cerrar label:hover {
        background-color: #a97ee6;
      }
      
      .cerrar-modal {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    
    
      
      @media screen and (max-width: 800px) {
        .content-modal {
          width: 90%;
        }
      }
