<section>

    <!--<section>
      <div>
        <img src="/My_class_projects/Assets/Images/diversidad-relacional.webp" alt="" width="300" height="400">
      </div>
    </section>  -->
    <section style="width: 100%;">
        <div class="mt-5">
            <h1 class="text-dark">Queremos conocerte!</h1>
            <h3 class="text-dark">Cuentanos sobre ti</h3>
        </div>
    <section class="d-flex flex-direction-row flex-wrap ms-2 me-3" style="min-width: 80%;">

        <div style="display:grid; flex: 1; width:100%; margin:0%;">
            <div class="align-items-start" style="display:grid; flex: 1; margin:0%;">
                <video class="twoItems" src="../../../assets/img/Survey-Videos/2315643482.mp4" loop muted autoplay style="width: 100%;">here</video>
            </div>
            <div class="align-items-start" style="display:grid; flex: 1; margin:0%;">
                <video class="twoItems" src="../../../assets/img/Survey-Videos/2358357396.mp4" loop muted autoplay style="width: 100%;">here</video>
            </div>
            <div class="align-items-start" style="display:grid; flex: 1; margin:0%;">
                <video class="twoItems" src="../../../assets/img/Survey-Videos/2335315340.mp4" loop muted autoplay style="width: 100%;">here</video>
            </div>
            
        </div>


    <!-- structure Form -->
        <div style="display:flex; padding:1rem; width:100%; flex: 1; justify-content:flex-start; position:static; height: 100%;">
            <form id="form" class="shadow p-3 d-flex mb-5 bg-body rounded justify-content-center flex-wrap mt-5 p-4" style="height: 100%;">

        
                <div class="form-control d-flex flex-wrap" style="width: 100%;">
                <label style="width:100%;"><h3>Selecciona tus gustos</h3>
                </label>
                <small class="small">(Selecciona todas las que apliquen)</small>
                <!-- Input Type Checkbox -->
                <label for="inp-1" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Salir a caminar</label>
                <label for="inp-2" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Ir al cine</label>
                <label for="inp-3" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Cenar en casa</label>
                <label for="inp-4" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Salir a cenar aun restaurante</label>
                <label for="inp-5" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Viajar</label>
                <label for="inp-6" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Leer</label>
                <label for="inp-7" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Bailar</label>
                <label for="inp-7" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Salir con amigos</label>
                <label for="inp-7" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Pasar tiempo en familia</label>
                <label for="inp-7" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Salir por un helado</label>
                <label for="inp-8" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Conocer nuevas personas</label>
                <label for="inp-9" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Pasear tu mascota</label>
                <label for="inp-10" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Deportes Extremos</label>
                <label for="inp-11" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Conocer lugares historicos y Museos</label>
                <label for="inp-12" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Cumplir fantasias sexuale</label>
                <label for="inp-13" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Casarme y tener hijos</label>
                <label for="inp-14" style="width:100%;">
                    <input type="checkbox"
                    name="inp">Tener mi propio negocio</label>
                    
                </div>

            <!-- Multi-line Text Input Control -->
                <button type="submit" value="submit" class="btn btn-outline-warning" style="width: 150px; height: 50px;">
                <a href="index.html">Enviar</a>
                </button>
            </form>
        </div>

        <div style="display:grid; flex: 1; width:100%; margin:0%;">
            <div class="align-items-start" style="display:grid; flex: 1; margin:0%;">
                <video class="twoItems" src="../../../assets/img/Survey-Videos/1897689780.mp4" loop muted autoplay style="width: 100%;">here</video>
            </div>
            <div class="align-items-start" style="display:grid; flex: 1; margin:0%;">
                <video class="twoItems" src="../../../assets/img/Survey-Videos/2684948056.mp4" loop muted autoplay style="width: 100%;">here</video>
            </div>
            <div class="align-items-start" style="display:grid; flex: 1; margin:0%;">
                <video class="twoItems" src="../../../assets/img/Survey-Videos/1990145240.mp4" loop muted autoplay style="width: 100%;">here</video>
            </div>
            
        </div>
        
    </section>
    </section>
  </section>

