<section
    id="referencias"
    class="d-flex flex-column justify-content-center testimonios text-center mt-5 mb-5"
  >
    <h3 class="mt-5 mb-5">Conoce a personas con tus mismos gustos</h3>

    <div
      class="mb-5 d-flex flex-wrap justify-content-center scroll-x slider" style="width: 80% !important; margin: 0px auto;"
      id="slider">
      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/1.jfif "        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Juan Bustos</h4>
              <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
              </p>
            </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
            
          </div>
          <div class="inline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/2.webp "        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Adrian Contreras</h4>
            <p class="card-text">
              Soy de Buenos Aires, trabajo en una compañia de marketing, me gustan los videojuegos, tengo 24 años
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div>
          <div class="outline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/3.jfif"        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Luis Muñoz</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div>
          <div class="outline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/4.jpg "        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Camila Ortiz</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div>
          <div class="inline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/5.jpg "        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Laura Maestre</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div>
          <div class="inline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/6.jfif"        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Monica Garcia</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div>
          <div class="outline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/7.jpg "        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Cristian Leal</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div>
          <div class="inline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/8.jpg"        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Diego Rojas</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div>
          <div class="outline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/9.jfif"        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Sofia Lopez</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div><div class="inline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/10.jpg"        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Gabriela Garzon</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div><div class="inline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/11.jfif"        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Sebastian Garcia</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>
            
          </div><div class="outline" style="width: 150%; height: 5px;">

          </div>
        </div>
      </div>

      <div class="slider-section card-container">
        <div class="card" style="flex-shrink: 0">
          <img
            class="card-image"
            src="../../../assets/img/12.jfif"        alt="imagen-de-producto"
          />
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
              <h4 class="card-title">Daniel Hernandez</h4>
            <p class="card-text">
              Me considero una persona trabajadora, voy al gimnasio los fines de semana, tengo 31 años, y vivo en Valencia 
              
            </p>
          </div>
            
            <button id="like" class="d-flex justify-content-center bg-transparent text-white border-0 like rounded-3 p-1">
              
                <i class="material-symbols-outlined">thumb_up_off</i>
                <p class="ms-2 m-0 fw-bold" (click)="like()">Me gusta</p>
              
            </button>

          </div><div class="inline" style="width: 150%; height: 5px;">
            
          </div>
        </div>
      </div>

      
    </div>
  </section>


